body {
  height: 500px;
  width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button + button {
  margin-top: 10px;
}

.timer-container {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.timers-list {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #54fa37;
  border-radius: 4px;
}

.timers-list div {
  margin-bottom: 5px;
}
